In [ ]:
import pandas as pd
import numpy as np

In [215]:
s=pd.Series([3,4,np.nan,5,6,7,8])
s

0    3.0
1    4.0
2    NaN
3    5.0
4    6.0
5    7.0
6    8.0
dtype: float64

In [216]:
date=pd.date_range("20220717",periods=20)
date

DatetimeIndex(['2022-07-17', '2022-07-18', '2022-07-19', '2022-07-20',
               '2022-07-21', '2022-07-22', '2022-07-23', '2022-07-24',
               '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28',
               '2022-07-29', '2022-07-30', '2022-07-31', '2022-08-01',
               '2022-08-02', '2022-08-03', '2022-08-04', '2022-08-05'],
              dtype='datetime64[ns]', freq='D')

In [217]:
df=pd.DataFrame(np.random.randn(20,4),index=date,columns=list("ABCD"))
df

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668

In [218]:
df2=pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20220717"),
        "c":pd.Series(1,index=list(range(4)),dtype="float32"),
        "D":np.array([3]*4,dtype="int32"),
        "D":pd.Categorical(["gril","womam","gril","womam"]),
        "E":"female",
    }
)
df2

     A          B    c      D       E
0  1.0 2022-07-17  1.0   gril  female
1  1.0 2022-07-17  1.0  womam  female
2  1.0 2022-07-17  1.0   gril  female
3  1.0 2022-07-17  1.0  womam  female

In [219]:
df2.dtypes

A           float64
B    datetime64[ns]
c           float32
D          category
E            object
dtype: object

In [220]:
df.head()

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925

In [221]:
df.tail()

                   A         B         C         D
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668

In [222]:
df.index

DatetimeIndex(['2022-07-17', '2022-07-18', '2022-07-19', '2022-07-20',
               '2022-07-21', '2022-07-22', '2022-07-23', '2022-07-24',
               '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28',
               '2022-07-29', '2022-07-30', '2022-07-31', '2022-08-01',
               '2022-08-02', '2022-08-03', '2022-08-04', '2022-08-05'],
              dtype='datetime64[ns]', freq='D')

In [223]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [224]:
df.to_numpy

<bound method DataFrame.to_numpy of                    A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668>

In [225]:
df2.to_numpy()

array([[1.0, Timestamp('2022-07-17 00:00:00'), 1.0, 'gril', 'female'],
       [1.0, Timestamp('2022-07-17 00:00:00'), 1.0, 'womam', 'female'],
       [1.0, Timestamp('2022-07-17 00:00:00'), 1.0, 'gril', 'female'],
       [1.0, Timestamp('2022-07-17 00:00:00'), 1.0, 'womam', 'female']],
      dtype=object)

In [226]:
df.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean   -0.104411  -0.256457   0.299272   0.179138
std     1.127776   1.050186   1.171328   0.935087
min    -2.623923  -2.737591  -2.473840  -2.358121
25%    -0.641528  -0.957602  -0.297756  -0.154425
50%     0.108452  -0.253354   0.452493   0.257707
75%     0.592780   0.359907   0.923768   0.820679
max     1.531205   1.833397   2.348770   1.814561

In [227]:
df2.describe()

         A    c
count  4.0  4.0
mean   1.0  1.0
std    0.0  0.0
min    1.0  1.0
25%    1.0  1.0
50%    1.0  1.0
75%    1.0  1.0
max    1.0  1.0

In [228]:
# to transpose data rows column and column rows
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-07-17 00:00:00,2022-07-17 00:00:00,2022-07-17 00:00:00,2022-07-17 00:00:00
c,1.0,1.0,1.0,1.0
D,gril,womam,gril,womam
E,female,female,female,female

In [229]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668

In [230]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651

In [231]:
df.sort_values(by="B",ascending=True)

                   A         B         C         D
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-20  0.292663  1.833397 -1.511774  0.382572

In [232]:
df.sort_values(by="B",ascending=False)

                   A         B         C         D
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723

In [233]:
#row wise selection
df["A"]

2022-07-17   -2.623923
2022-07-18    0.032314
2022-07-19    1.308231
2022-07-20    0.292663
2022-07-21    0.549048
2022-07-22   -1.885054
2022-07-23    1.391050
2022-07-24    0.002604
2022-07-25    0.184590
2022-07-26    0.723979
2022-07-27   -0.406155
2022-07-28    0.376358
2022-07-29   -1.117483
2022-07-30    0.758144
2022-07-31   -1.061407
2022-08-01    1.531205
2022-08-02   -0.017430
2022-08-03    0.230932
2022-08-04   -0.501569
2022-08-05   -1.856323
Freq: D, Name: A, dtype: float64

In [234]:
df[0:20]

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668

In [235]:
#cross wise selection
df.loc[date[12]]

A   -1.117483
B    0.005161
C    1.632912
D    0.132841
Name: 2022-07-29 00:00:00, dtype: float64

In [236]:
df.loc[:,['A','B']]

                   A         B
2022-07-17 -2.623923 -0.696934
2022-07-18  0.032314 -0.942922
2022-07-19  1.308231 -2.737591
2022-07-20  0.292663  1.833397
2022-07-21  0.549048 -0.758845
2022-07-22 -1.885054  1.142486
2022-07-23  1.391050 -0.627446
2022-07-24  0.002604 -1.001645
2022-07-25  0.184590 -1.539916
2022-07-26  0.723979 -0.511869
2022-07-27 -0.406155  0.696628
2022-07-28  0.376358  0.281713
2022-07-29 -1.117483  0.005161
2022-07-30  0.758144  0.136059
2022-07-31 -1.061407  0.268809
2022-08-01  1.531205  0.135241
2022-08-02 -0.017430 -1.062751
2022-08-03  0.230932  0.594486
2022-08-04 -0.501569  0.806366
2022-08-05 -1.856323 -1.149561

In [237]:
df.loc['20220722':'20220725',["A","B"]]

                   A         B
2022-07-22 -1.885054  1.142486
2022-07-23  1.391050 -0.627446
2022-07-24  0.002604 -1.001645
2022-07-25  0.184590 -1.539916

In [238]:
df.loc[['20220722','20220725'],["A","B","C"]]

                   A         B         C
2022-07-22 -1.885054  1.142486 -0.271786
2022-07-25  0.184590 -1.539916  0.252481

In [239]:
df.loc['20220725',["A","B","C","D"]]

A    0.184590
B   -1.539916
C    0.252481
D    0.802200
Name: 2022-07-25 00:00:00, dtype: float64

In [240]:
df.at[date[0],"A"]

-2.623922528385716

In [241]:
df.iloc[12:15]

                   A         B         C         D
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052

In [242]:
df.iloc[0:5,1:3]

                   B         C
2022-07-17 -0.696934 -1.180370
2022-07-18 -0.942922  1.963740
2022-07-19 -2.737591 -0.375664
2022-07-20  1.833397 -1.511774
2022-07-21 -0.758845  0.617014

In [243]:
df.iloc[0:5]

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925

In [244]:
df.iloc[0:5, :]

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925

In [245]:
df.iloc[:,0:4]

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668

In [246]:
df.iloc[:,:]

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668

In [247]:
df[df["A"]>0]

                   A         B         C         D
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-03  0.230932  0.594486  0.506448 -0.151436

In [248]:
df[df["A"]>2.2]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [249]:
df[df>0]

                   A         B         C         D
2022-07-17       NaN       NaN       NaN  0.461651
2022-07-18  0.032314       NaN  1.963740  0.503081
2022-07-19  1.308231       NaN       NaN       NaN
2022-07-20  0.292663  1.833397       NaN  0.382572
2022-07-21  0.549048       NaN  0.617014       NaN
2022-07-22       NaN  1.142486       NaN  1.814561
2022-07-23  1.391050       NaN  0.879120  0.959535
2022-07-24  0.002604       NaN  1.057711  0.493116
2022-07-25  0.184590       NaN  0.252481  0.802200
2022-07-26  0.723979       NaN  1.340542       NaN
2022-07-27       NaN  0.696628       NaN       NaN
2022-07-28  0.376358  0.281713       NaN  1.121373
2022-07-29       NaN  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31       NaN  0.268809       NaN       NaN
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02       NaN       NaN  0.691145       NaN
2022-08-03  0.230932  0.594486  0.506448       NaN
2022-08-04       NaN  0.806366  0.662178  0.876114
2022-08-05       NaN       NaN  0.398538       NaN

In [250]:
df2=df.copy()

In [251]:
df2["E"]=["one","two","three","four","five","six","one","two","three",
"four","five","six","one","two","three","four","five","six","ten","ten"]
df2

                   A         B         C         D      E
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651    one
2022-07-18  0.032314 -0.942922  1.963740  0.503081    two
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723  three
2022-07-20  0.292663  1.833397 -1.511774  0.382572   four
2022-07-21  0.549048 -0.758845  0.617014 -0.096925   five
2022-07-22 -1.885054  1.142486 -0.271786  1.814561    six
2022-07-23  1.391050 -0.627446  0.879120  0.959535    one
2022-07-24  0.002604 -1.001645  1.057711  0.493116    two
2022-07-25  0.184590 -1.539916  0.252481  0.802200  three
2022-07-26  0.723979 -0.511869  1.340542 -0.163393   four
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121   five
2022-07-28  0.376358  0.281713 -0.495403  1.121373    six
2022-07-29 -1.117483  0.005161  1.632912  0.132841    one
2022-07-30  0.758144  0.136059  0.189610  1.143877    two
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052  three
2022-08-01  1.531205  0.135241  2.348770  0.080665   four
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519   five
2022-08-03  0.230932  0.594486  0.506448 -0.151436    six
2022-08-04 -0.501569  0.806366  0.662178  0.876114    ten
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668    ten

In [252]:
df2["F"]=["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20"]
df2

                   A         B         C         D      E   F
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651    one   1
2022-07-18  0.032314 -0.942922  1.963740  0.503081    two   2
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723  three   3
2022-07-20  0.292663  1.833397 -1.511774  0.382572   four   4
2022-07-21  0.549048 -0.758845  0.617014 -0.096925   five   5
2022-07-22 -1.885054  1.142486 -0.271786  1.814561    six   6
2022-07-23  1.391050 -0.627446  0.879120  0.959535    one   7
2022-07-24  0.002604 -1.001645  1.057711  0.493116    two   8
2022-07-25  0.184590 -1.539916  0.252481  0.802200  three   9
2022-07-26  0.723979 -0.511869  1.340542 -0.163393   four  10
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121   five  11
2022-07-28  0.376358  0.281713 -0.495403  1.121373    six  12
2022-07-29 -1.117483  0.005161  1.632912  0.132841    one  13
2022-07-30  0.758144  0.136059  0.189610  1.143877    two  14
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052  three  15
2022-08-01  1.531205  0.135241  2.348770  0.080665   four  16
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519   five  17
2022-08-03  0.230932  0.594486  0.506448 -0.151436    six  18
2022-08-04 -0.501569  0.806366  0.662178  0.876114    ten  19
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668    ten  20

In [259]:
df2['new']=[1.2,1.5,1.6,1.8,1.9,1.2,1.5,1.6,1.8,1.9,1.2,1.5,1.6,1.8,1.9,1.2,1.5,1.6,1.8,1.9]
df2

                   A         B  new
2022-07-17 -2.623923 -0.696934  1.2
2022-07-18  0.032314 -0.942922  1.5
2022-07-19  1.308231 -2.737591  1.6
2022-07-20  0.292663  1.833397  1.8
2022-07-21  0.549048 -0.758845  1.9
2022-07-22 -1.885054  1.142486  1.2
2022-07-23  1.391050 -0.627446  1.5
2022-07-24  0.002604 -1.001645  1.6
2022-07-25  0.184590 -1.539916  1.8
2022-07-26  0.723979 -0.511869  1.9
2022-07-27 -0.406155  0.696628  1.2
2022-07-28  0.376358  0.281713  1.5
2022-07-29 -1.117483  0.005161  1.6
2022-07-30  0.758144  0.136059  1.8
2022-07-31 -1.061407  0.268809  1.9
2022-08-01  1.531205  0.135241  1.2
2022-08-02 -0.017430 -1.062751  1.5
2022-08-03  0.230932  0.594486  1.6
2022-08-04 -0.501569  0.806366  1.8
2022-08-05 -1.856323 -1.149561  1.9

In [254]:
df2['G']=[9,8,7,6,5,4,3,2,12,3,4,5,67,7,8,9,9,0,0,0,]
df2
df2=df2.iloc[:, 0:4]
df2

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668

In [255]:
df2=df2.iloc[:, 0:4]
df2

                   A         B         C         D
2022-07-17 -2.623923 -0.696934 -1.180370  0.461651
2022-07-18  0.032314 -0.942922  1.963740  0.503081
2022-07-19  1.308231 -2.737591 -0.375664 -0.120723
2022-07-20  0.292663  1.833397 -1.511774  0.382572
2022-07-21  0.549048 -0.758845  0.617014 -0.096925
2022-07-22 -1.885054  1.142486 -0.271786  1.814561
2022-07-23  1.391050 -0.627446  0.879120  0.959535
2022-07-24  0.002604 -1.001645  1.057711  0.493116
2022-07-25  0.184590 -1.539916  0.252481  0.802200
2022-07-26  0.723979 -0.511869  1.340542 -0.163393
2022-07-27 -0.406155  0.696628 -0.245936 -2.358121
2022-07-28  0.376358  0.281713 -0.495403  1.121373
2022-07-29 -1.117483  0.005161  1.632912  0.132841
2022-07-30  0.758144  0.136059  0.189610  1.143877
2022-07-31 -1.061407  0.268809 -2.473840 -0.369052
2022-08-01  1.531205  0.135241  2.348770  0.080665
2022-08-02 -0.017430 -1.062751  0.691145 -0.438519
2022-08-03  0.230932  0.594486  0.506448 -0.151436
2022-08-04 -0.501569  0.806366  0.662178  0.876114
2022-08-05 -1.856323 -1.149561  0.398538 -1.490668